body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(210, 247, 247, 0.788);
}
h1{
    font-size: 50px;
}
.intru{
    color: gold;
}
.dot{
    color: indigo;
}
.fast{
    color:purple;
    font-size: 70px;
}
.second{
    color:blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 1%;
}
.half-width img{
    width: 100%;
}
.pic-area img{
    width: 100%;
}
.pic area{
    width: 40%;
    float:right;
}
.top-banner{
    border: 1px solid gold;
    background-color: rgba(210, 247, 247, 0.788);
    
}
section{
    height: 550px;
}